{% extends 'task/base.html' %}
{% block content %}
<div class="jumbotron">
  <h2>please login:</h2>
  <h3>(must be superuser)</h3>
  {% if form.errors %}
  <p>your username or password is wrong</p>
  {% endif %}
  
  
  <form method='POST' action="{% url 'login' %}" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class='btn btn-primary' value='login' onclick="location.href='{% url "index" %}';">
    <input type="hidden" name="next" value="{{ next }}">

  </form>
  
  
</div>
{% endblock %}